<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sport_league"
        tools:targetApi="31">
        <activity
            android:name=".ForFragmentfootball"
            android:exported="false" />
        <activity
            android:name=".SummaryActivity"
            android:exported="false" />
        <activity
            android:name=".TeamDisplayActivity"
            android:exported="false"
            android:theme="@style/Theme.Sport_league" />
        <activity
            android:name=".basketball_next"
            android:exported="false" />
        <activity
            android:name=".start_basketball_my_cards"
            android:exported="false" />
        <activity
            android:name=".treding_heto"
            android:exported="false" />
        <activity
            android:name=".packs_open2"
            android:exported="false" />
        <activity
            android:name=".market"
            android:exported="false" />
        <activity
            android:name=".treading"
            android:exported="false" />
        <activity
            android:name=".packs_open"
            android:exported="false" />
        <activity
            android:name=".My_cards"
            android:exported="false" />
        <activity
            android:name=".online_2v2"
            android:exported="false" />
        <activity
            android:name=".whit_frend_2v2"
            android:exported="false" />
        <activity
            android:name=".boks2_qash"
            android:exported="false" />
        <activity
            android:name=".boks1_qahs"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".paks_heto"
            android:exported="false" />
        <activity
            android:name=".start_2v2"
            android:exported="false" />
        <activity
            android:name=".start_bascketball"
            android:exported="false" />
        <activity
            android:name=".start_bascketball_sr1"
            android:exported="false" />
        <activity
            android:name=".start_bascketball_sr2"
            android:exported="false" />
        <activity
            android:name=".start_bascketball_sr3"
            android:exported="false" />
        <activity
            android:name=".start_bascketball_sr4"
            android:exported="false" />
        <activity
            android:name=".start_bascketball_sr5"
            android:exported="false" />
        <activity
            android:name=".start_box"
            android:exported="false" />
        <activity
            android:name=".start_football"
            android:exported="false" />
        <activity
            android:name=".start_football_sr"
            android:exported="false" />
        <activity
            android:name=".start_football_sr2"
            android:exported="false" />
        <activity
            android:name=".start_football_sr3"
            android:exported="false" />
        <activity
            android:name=".start_football_sr4"
            android:exported="false" />
        <activity
            android:name=".start_football_sr5"
            android:exported="false" />
        <activity
            android:name=".start_football_sr6"
            android:exported="false" />
        <activity
            android:name=".start_football_sr7"
            android:exported="false" />
        <activity
            android:name=".start_football_sr8"
            android:exported="false" />
        <activity
            android:name=".startic_heto"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>