<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sport_league"
        tools:targetApi="31">
        <activity
            android:name=".cards_tal"
            android:exported="false" />
        <activity
            android:name=".cards_tal2"
            android:exported="false" />
        <activity
            android:name=".paks_heto"
            android:exported="false" />
        <activity
            android:name=".start_2v2"
            android:exported="false" />
        <activity
            android:name=".start_bascketball"
            android:exported="false" />
        <activity
            android:name=".start_bascketball_sr1"
            android:exported="false" />
        <activity
            android:name=".start_bascketball_sr2"
            android:exported="false" />
        <activity
            android:name=".start_bascketball_sr3"
            android:exported="false" />
        <activity
            android:name=".start_bascketball_sr4"
            android:exported="false" />
        <activity
            android:name=".start_bascketball_sr5"
            android:exported="false" />
        <activity
            android:name=".start_box"
            android:exported="false" />
        <activity
            android:name=".start_football"
            android:exported="false" />
        <activity
            android:name=".start_football_sr"
            android:exported="false" />
        <activity
            android:name=".start_football_sr2"
            android:exported="false" />
        <activity
            android:name=".start_football_sr3"
            android:exported="false" />
        <activity
            android:name=".start_football_sr4"
            android:exported="false" />
        <activity
            android:name=".start_football_sr5"
            android:exported="false" />
        <activity
            android:name=".start_football_sr6"
            android:exported="false" />
        <activity
            android:name=".start_football_sr7"
            android:exported="false" />
        <activity
            android:name=".start_football_sr8"
            android:exported="false" />
        <activity
            android:name=".startic_heto"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>